:host {
  &[data-winner='player'] .Winner {
    color: var(--color-player);
  }

  &[data-winner='computer'] .Winner {
    color: var(--color-computer);
  }
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.Winner {
  font-size: 1.5rem;
  font-weight: 700;
}

.FinalScore {
  background: #f8f9fa;
  padding: 1.25em;
  border-radius: 0.5em;

  font-size: 1.1rem;
  color: #555;

  display: flex;
  gap: 1em;
  justify-content: space-evenly;
}
