.form {
  display: grid;
  gap: 1em;
  place-content: center;
}

.field {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

.input--validated {
  display: grid;
  gap: 0.5em;
}

.Timeout input {
  padding: 0.5em 1em;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  width: 12ch;
  transition: border-color 0.3s;

  &:invalid {
    border-color: #ef4444;
  }
}

.error {
  color: #ef4444;
  font-size: 0.875rem;
  flex-basis: 100%;
}
