<div class="controls">
  <div class="input-group">
    <label for="timeInput">Time (ms):</label>

    <input
      id="timeInput"
      type="number"
      [(ngModel)]="timeLimit"
      [disabled]="isGameActive()"
      min="1"
      placeholder="Enter milliseconds"
    />
  </div>

  <button class="start-btn" type="button" (click)="onStart()" [disabled]="isGameActive()">
    Start
  </button>
</div>

<div class="score-board">
  <!-- TODO A separate component can be used here -->
  <div class="score">
    <span class="label">{{ Side.PLAYER | titlecase }}:</span>
    <span class="value">{{ score.player() }}</span>
  </div>

  <div class="score">
    <span class="label">{{ Side.COMPUTER | titlecase }}:</span>
    <span class="value">{{ score.computer() }}</span>
  </div>
</div>
