:host {
  display: grid;
  gap: 1em;
  place-content: center;

  /* color: var(color-text); */
}

.field {
  display: flex;
  align-items: center;
  gap: 1em;
}

.Timeout input {
  padding: 0.5em 1em;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  width: 12ch;
  transition: border-color 0.3s;
}
