:host {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.5em;
  width: 100%;
  max-width: 30em;
}

@media (max-width: 600px) {
  :host {
    max-width: 25em;
  }
}
