:host {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.3125em;
  aspect-ratio: 1;
  max-width: 31.25em;
  margin: 0 auto;

  @media (max-width: 600px) {
    gap: 0.1875em;
  }

  @media (max-width: 400px) {
    gap: 0.125em;
  }
}
