:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  &[data-side='player'] .value {
    color: var(--color-player);
  }

  &[data-side='computer'] .value {
    color: var(--color-computer);
  }
}

.value {
  font-size: 2rem;
  font-weight: 700;
}
